.app-container{
    display: flex;
    height: 100vh;
}

.content-bar {
    flex-grow: 1;
    width: 1,680;  /* Thu fix lai render  */
    transition: margin-left 0.3s ease;
}

.content {
    flex-grow: 1;
    margin-left: 0px;
    transition: margin-left 0.3s ease;
}
.router {
    margin: 5px 10px 0px 10px; 
}
.router-full {
    margin: auto;
    width: 90%;
}
