.app-container{
    display: flex;
    height: 90vh;
}

.sidebar {
    width: 220px;
}
.content-bar {
    flex-grow: 1;
    margin-left: 220px;
    width: calc(100% - 230px);  /* Thu fix lai render  */
    transition: margin-left 0.3s ease;
}

.content {
    flex-grow: 1;
    margin-left: 0px;
    transition: margin-left 0.3s ease;
}
.router {
    margin: 20px 10px 10px 10px;
    
}
