/* App.css */
.app-container {
    display: flex;
    height: 100vh; /* Đảm bảo container chính luôn có chiều cao 100vh */
    overflow: hidden; /* Tránh overflow ngoài màn hình */
}

.content-bar {
    flex-grow: 1;
    transition: margin-left 0.3s ease;
    height: 100vh; /* Đảm bảo chiều cao đúng */
    overflow-y: auto; /* Nếu cần, cho phép scroll dọc trong phần content */
}

.content {
    flex-grow: 1;
    margin-left: 0px;
    transition: margin-left 0.3s ease;
    height: 100vh; /* Đảm bảo chiều cao đúng */
    overflow-y: auto; /* Nếu cần, cho phép scroll dọc trong phần content */
}

.router {
    margin: 5px 20px 0px 10px; 
    height: calc(99vh - 48px); /* Giảm chiều cao nếu có Header */
    overflow-y: auto;
    
}

.router-full {
    margin: 7px 20px 0px 60px;
    width: 95%;
    height: calc(99vh - 48px); /* Đảm bảo chiều cao chiếm hết phần còn lại */
}

.font-bold {
    font-weight: 600;
}